.form-container {
  display: grid;
  gap: 3rem;
  width: min(100%, 1000px);
  padding-bottom: 2rem;
  color: hsl(var(--clr-text));
  background-color: hsl(var(--clr-primary));

  header {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 200px;
    background-image: url("./assets/carSmall.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    :where(h1) {
      font-family: var(--ff-header);
      font-size: var(--fs-450);
      font-weight: var(--fw-regular);
      text-transform: capitalize;
      padding: 0.5rem;
      color: hsl(var(--clr-subtext));
      background: linear-gradient(
        to top left,
        hsla(var(--clr-primary), 0.7) 20%,
        hsla(var(--clr-subtext), 0.2)
        );
      border-top-left-radius: 0.5rem;
    }
  }
}

.form-content {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: relative;
  display: grid;
  gap: 3rem;


  [class$="section"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

.form-success {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  row-gap: 0.25rem;

  h2 {
    grid-column: 1 / -1;
    color: hsl(var(--clr-subtext));
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: var(--fs-450);
  }

  .success__icon { color: hsl(var(--clr-success)); }
}

.form-field {
  --border-color: hsl(var(--clr-accent));
  --shadow: none;

  position: relative;
  display: flex;
  flex-direction: column;

  &:has(input:focus) label,
  &:has(input:not(:placeholder-shown)) label,
  &:has(select option:checked:not([value=""])) label {
    top: -14px;
    left: 2px;
    font-size: calc(var(--fs-400) - 2px);
  }

  &:has(input:focus) label { transition: 0.2s ease all; }
  &:has(select) label {pointer-events: none;}
  &:has([required]) label::after {content: " *"};

  label {
    position: absolute;
    top: 50%;
    left: 8px;
    color: hsl(var(--clr-subtext));
    transform: translateY(-50%);
  }

  input {
    &.password-input {
      padding-right: 2.5rem;
      
      &:not(:placeholder-shown) ~ .password-toggle {
        display: block;
      }
    }
    
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px hsl(var(--clr-primary)) inset !important;
      -webkit-text-fill-color: hsl(var(--clr-text)) !important;
      caret-color: hsl(var(--clr-text));
      
      &::first-line {
        color: hsl(var(--clr-text));
      }
    }
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.form-error {
  position: absolute;
  top: 102%;
  min-height: 1.2em;
  font-size: 0.8em;
  color: hsl(var(--clr-warning));
}

.custom-select {
  display: none;

  button {
    cursor: pointer;
  }

  ul {
    position: absolute;
    left: 0;
    top: 110%;
    width: 250px;
    max-height: min(170px, 50vh);
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    z-index: 10;
    background-color: hsl(var(--clr-primary));
    border: 1px solid hsl(var(--clr-accent));
    border-radius: 0.5rem;
    
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--clr-subtext)) transparent;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;

    &.selected {
      background-color: hsl(var(--clr-secondary));
      color: hsl(var(--clr-primary));
      border-radius: 0.5rem;
    }
  }
}

.form-field :is(input, select, .custom-select__trigger) {
  width: 250px;
  min-height: 36px;
  padding-left: 0.5rem;
  color: hsl(var(--clr-text));
  background: transparent;

  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.form-field:has([aria-invalid="true"]) {
  --border-color: hsl(var(--clr-warning));
}

.form-field:has(:is(input, select, .custom-select__trigger):hover) {
  input,
  select,
  .custom-select__trigger {
    --border-color: #90A4AE;
  }
}

.form-field:has(:focus) {
  input, select, .custom-select__trigger {
    outline: none;
    --border-color: hsl(var(--clr-secondary));
    --shadow: 0 0 0 2px rgba(0, 229, 255, 0.2);
  }
}

.custom-select__trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

svg {
  width: 24px;
  height: 24px;
  fill: hsl(var(--clr-subtext));
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.password-toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.select__arrow {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: hsl(var(--clr-subtext));
  pointer-events: none;
}

.country-flag {
  width: 20px;
  height: 16px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid white;
}

button[type="submit"] {
  position: relative;
  justify-self: center;
  width: 250px;
  padding: 8px 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: hsl(var(--clr-primary));
  background-color: hsl(var(--clr-subtext));
  border: 1px solid hsl(var(--clr-accent));
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 
    background-color 0.2s ease, 
    box-shadow 0.2s ease, 
    transform 0.1s ease;

  &:not(:disabled):hover,
  &:focus {
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-subtext));
    border-color: hsl(var(--clr-subtext));
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 229, 255, 0.2);
    border-color: hsl(var(--clr-secondary));
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-subtext));
    border-color: hsl(var(--clr-subtext));
  }

  &::after {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 50%;

    position: absolute;
    inset: 0;
    margin: auto;

    opacity: 0;
    transition: 
      opacity 0.15s ease,
      transform 0.15s ease;
  }

  &.data-loading {
    .button__label {
      opacity: 0;
      transform: scale(0.95);
    }

    &::after {
      opacity: 1;
      animation: spin 0.8s linear infinite;
      transition-delay: 0.05s;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg), scale(0.8);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

@media (min-width: 650px) {
  .form-container {
    header {
      background-image: url("./assets/car.avif");
      height: 250px;

      h1 {
        font-size: var(--fs-500);
      }
    }
  }
}

@media (min-width: 800px) {
  .form-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    min-height: 600px;
    padding-bottom: 0;
    
    header { height: 100%; }

    .auth-section { margin-top: 2rem; }

    button[type="submit"] { margin-bottom: 2rem; }
  }
}

@media (pointer: fine) {
  .form-field {
    select {display: none;}
    .custom-select {display: flex;}
  }
}